<!DOCTYPE html>
<html>
<head>
    <title>/ascii/</title>
</head>
<body>
    <h1>/ascii/</h1>
    <form method="post">
        <label>
            <div>title</div>
            <input type="text" name="title">
        </label>
        <label>
            <div>art</div>
            <textarea name="art"></textarea>
        </label>
        <div class="error">{{error}}</div>
        <input type="submit">
    </form>
    <div class="container">
        {% for art in arts %}
        <div class="art">
            <div class="art-title">
                {{art.title}}
            </div>
            <div class="art-body">
                {{art.art}}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>