<!DOCTYPE html>
<html>
<head>
    <title>Rahul's Blog</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
<a href="/blog" class="main-title">xBlog</a>

<div class="login-area">

    <a class="login-link" href="/blog/login">login</a>
    |
    <a class="login-link" href="/blog/signup">signup</a>

</div>

<div id="content">

    <div class="age">
        {% if last_update %}
        <div>
            queried {{last_update}} seconds ago
        </div>
    {% endif %}
    </div>
    {% if posts %}
    {% for post in posts %}
    <div class="post">
        <div class="post-heading">
            <div class="post-title"><a href="/blog/{{post.post_id}}">{{post.title|e}}</a></div>
            <div class="post-date">
                {% if post.created %}
                {{post.created.strftime("%b %d, %Y")}}
                {% endif %}
            </div>
        </div>
        <div class="post-content">{{post.content}}</div>
    </div>
    <br><br>
    {% endfor %}
    {% endif %}
</div>
</body>
</html>