<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
<form method="post">
    <label>
        Login
        <input type="text" name="username" placeholder="Username" value="{{username}}">
    </label>
    <label>
        Password
        <input type="password" name="password" placeholder="Password">
    </label>
    <div style="color: red">{{error}}</div>
<input type="submit">
    </form>
</body>
</html>