<!DOCTYPE html>
<html>
<head>
    <title>New Post</title>
    <link type="text/css" rel="stylesheet" href="./template/blog/style.css">
</head>
<body>
<h1>New Post</h1>
<form method="post">
    <label>
        <div>Title</div>
        <input name="subject" type="text" value="{{title|e}}">
    </label>
    <label>
        <div>Content</div>
        <textarea name="content">{{content|e}}</textarea>
    </label>
    <div class="error">{{error}}</div>
    <input type="submit">
</form>

</body>
</html>