<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style type="text/css">
        html{
            padding: 0;
            margin: 0;
        }
        body{
            margin: 0 16px;
        }
        .user_area {
            text-align: right;
            display: inline-block;
            float: right;
        }
    </style>
</head>
<body>
<div class="user_area">
{% if user %}
    <a href="/_edit/{{title}}">edit</a>
    | <a href="/_history/{{title}}">history</a>
    {{user}}(<a href="/logout">logout</a>)
{% else %}
    <a href="/login">login</a>
{% endif %}
</div>

<h1 class="title">{{title}}</h1>
<p class="content">{{content|safe}}</p>
</body>
</html>