<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style type="text/css">
        html{
            padding: 0;
            margin: 0;
            font-family: Helvetica, sans-serif;
        }
        body{
            margin: 0 16px;
        }
        .user_area {
            text-align: right;
            display: inline-block;
            float: right;
        }
        .title{
            font-size: 2em;
            display: block;
            border: 0;
            margin: 1em 0;
        }
        .edit{
            width: 95%;
            min-height: 400px;
        }
        textarea{
            font-size: 1em;
            padding: 16px;
            display: block;
            margin-bottom: 16px;
        }
        .error{
            color: #aa4455;
        }
    </style>
</head>
<body>
<div class="user_area">
    {% if user %}
    <a href="/_edit/{{title}}">edit</a> {{user}}
    <a href="/logout">logout</a>
    {% else %}
    <a href="/login">login</a>
    {% endif %}
</div>
<form action="/_edit/{{title}}" method="post">
    <h1>{{title}}</h1>
    <textarea name="content" class="edit">{{content|safe}}</textarea>
    <input type="submit" value="Save">
    <a href="/{{title}}" target="_blank">view</a>
</form>
{% if error %}
<div class="error">{{error}}</div>
{% endif %}
</body>
</html>