<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style type="text/css">
        html {
            padding: 0;
            margin: 0;
        }

        body {
            margin: 0 16px;
        }

        .user_area {
            text-align: right;
            display: inline-block;
            float: right;
        }
    </style>
</head>
<body>
<div class="user_area">
    {% if user %}
    {{user}}(<a href="/logout">logout</a>)
    {% else %}
    <a href="/login">login</a>
    {% endif %}
</div>

<h1 class="title">{{title}}</h1>
{% if history %}
<table>
    {% for page in history %}
    <tr>
        <td>{{page.timestamp.strftime("%b %d, %Y")}}</td>
        <td>{{page.content}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</body>
</html>