<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
<form method="post">
<label>
Username
    <input type="text" name="username" placeholder="Username" value="{{username}}"> <span style="color: red">{{e_username}}
</span>
</label>
<label>
    Password
    <input type="password" name="password" placeholder="Password"> <span style="color: red">{{e_password}}</span>
</label>
<label>
    Verify
    <input type="password" name="verify" placeholder="Verify Password"> <span style="color: red">{{e_verify}}</span>
</label>
<label>
    Email(optional)
    <input type="email" name="email" placeholder="email" value="{{email}}"> <span style="color: red">{{e_email}}</span>
</label>
<input type="submit">
</form>
</body>
</html>